<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{path('home')}}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Contact<span class="sr-only">Contact</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('blog')}}">Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('blog_create')}}">Créer un article</a>
            </li>
            {% if not app.user %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('security_registration') }}">S'inscrire</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('security_login')}}">Se connecter</a>
            </li>
            {% else %}
            
            <li class="nav-item">
                <a class="nav-link" href="{{path('security_logout')}}">Se déconnecter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('account')}}">Mon compte</a>
            </li>
            {% endif %}
        </ul>
    </div>
    </nav>
    {% if not app.user %}
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    {% else %}
    <div class="container">
        <h1>Page ADMIN!</h1>
    </div>
    {% endif %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
